*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    
} 
nav{
    color: white;
    background-color: black;
    height: 80px;
    width: 100%;
    
    margin-right: 300px;
}
label.logo{
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul,.right{
    float: right;
    margin-right: 40px;
    font-size: 24px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-left: 60px;
     }
.right{
    margin-right: 200px;
    margin-left: 150px;
     }
#getstat{
    font-size: 20px;
    padding: 11px 15px;
    background-color: #ED661F;
    color: white;
    border-radius: 3px;
    border-color: #ED661F;
   
}    
#home{
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    
}
@media only screen and (min-width:980px) and (max-width:1300){
    nav{
        width:100%;
    }
    
}
